In [16]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv("./Data/csv_27.csv")
df

,시도별\n\n 연도별,서 울\n\nSeoul,부 산\n\nBusan,대 구\n\nDaegu,인 천\n\nIncheon,광 주 \n\nGwangju,대 전 \n\nDaejeon,울 산\n\nUlsan,경 기\n\nGyeonggi,강 원\n\nGangwon,...,전 북\n\nJeonbuk,전 남\n\nJeonnam,경 북\n\nGyeongbuk,경 남\n\nGyeongnam,제 주\n\nJeju,세 종\n\nSejong,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,1961.0,"384,492",-,-,-,-,-,-,"207,248","116,339",...,"50,630","50,543","119,169","173,192","1,332",-,NaN,NaN,NaN,NaN
1,2006.0,"41,824,268","17,218,934","12,622,007","18,694,596","6,441,161","7,505,662","21,556,369","73,309,874","12,993,255",...,"14,407,656","19,500,753","34,010,487","25,380,993","2,898,939",-,NaN,NaN,NaN,NaN
2,2007.0,"42,972,816","17,905,735","12,925,891","19,446,553","6,803,616","7,823,147","22,739,544","78,107,276","13,567,824",...,"15,166,073","20,341,400","36,249,730","26,788,262","3,038,325",-,NaN,NaN,NaN,NaN
3,2008.0,"44,096,350","18,709,380","13,265,254","19,915,366","7,044,868","8,087,633","24,132,175","81,848,570","13,895,753",...,"15,927,799","21,868,193","37,164,797","28,074,968","3,183,210",-,NaN,NaN,NaN,NaN
4,2009.0,"44,984,457","18,689,437","13,133,729","20,032,122","7,169,715","8,224,741","24,682,548","83,743,497","13,992,115",...,"16,684,299","23,589,470","37,983,313","28,393,041","3,352,343",-,NaN,NaN,NaN,NaN
5,2010.0,"47,295,093","20,263,682","14,479,996","21,827,577","7,860,057","8,867,405","26,515,702","93,074,875","14,848,027",...,"18,949,073","25,059,934","41,589,052","31,549,222","3,574,624",-,NaN,NaN,NaN,NaN
6,2011.0,"46,902,989","20,561,979","14,821,948","22,241,136","8,047,388","9,059,776","28,198,242","96,844,503","15,876,041",...,"21,168,359","27,136,865","44,167,300","33,071,206","3,710,080",-,NaN,NaN,NaN,NaN
7,2012.0,"47,234,102","20,664,842","14,954,958","22,651,946","8,130,493","9,160,107","29,362,724","100,291,952","15,904,382",...,"21,462,325","28,484,719","44,799,525","33,014,947","3,864,639","578,610",NaN,NaN,NaN,NaN
8,2013.0,"46,555,105","20,364,705","15,080,052","22,673,441","8,274,074","9,225,140","29,992,969","102,227,067","15,794,741",...,"21,708,655","30,302,068","45,444,247","33,530,619","4,094,900","2,345,527",NaN,NaN,NaN,NaN
9,2014.0,"45,018,863","19,980,898","14,858,787","22,578,048","8,197,277","9,102,524","30,115,123","102,180,707","15,778,144",...,"22,297,413","31,722,943","46,016,364","33,435,157","4,220,090","2,437,031",NaN,NaN,NaN,NaN
10,2015.0,"45,381,484","20,002,307","14,947,708","23,211,766","8,333,873","9,182,737","30,286,140","105,048,003","16,206,618",...,"22,086,860","32,637,829","44,956,836","33,876,325","4,429,553","2,641,139",NaN,NaN,NaN,NaN
11,2016.0,"46,493,234","20,467,093","15,268,114","23,875,857","8,558,369","9,379,633","32,095,217","109,403,901","16,498,768",...,"22,733,495","33,096,902","44,647,503","34,497,477","4,738,201","2,801,869",NaN,NaN,NaN,NaN
12,2017.0,"46,298,158","21,007,358","15,386,372","24,515,313","8,683,649","9,423,804","31,609,850","114,847,859","16,552,836",...,"22,799,647","33,562,076","45,455,611","34,647,864","5,013,545","2,918,758",NaN,NaN,NaN,NaN
13,2018.0,"47,810,210","21,216,605","15,675,749","24,921,926","8,773,811","9,648,827","33,748,169","122,695,954","16,845,836",...,"22,961,959","34,118,388","45,958,814","35,158,610","5,272,604","3,087,693",NaN,NaN,NaN,NaN
14,2019.0,"47,167,206","20,802,410","15,265,585","24,280,690","8,603,297","9,415,699","34,138,999","123,022,307","16,368,275",...,"22,280,693","32,385,388","44,314,767","34,472,017","5,374,285","3,226,179",NaN,NaN,NaN,NaN
15,2020.0,"45,787,926","20,503,969","14,758,568","23,638,583","8,531,108","9,405,221","33,157,834","124,688,964","16,120,067",...,"20,538,912","30,973,975","41,001,627","34,069,974","5,373,288","3,393,223",NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.drop(df.columns[-4:],axis = 1, inplace = True)

In [19]:
df.drop([0], inplace=True)

In [20]:
df.reset_index()

,index,시도별\n\n 연도별,서 울\n\nSeoul,부 산\n\nBusan,대 구\n\nDaegu,인 천\n\nIncheon,광 주 \n\nGwangju,대 전 \n\nDaejeon,울 산\n\nUlsan,경 기\n\nGyeonggi,강 원\n\nGangwon,충 북\n\nChungbuk,충 남\n\nChungnam,전 북\n\nJeonbuk,전 남\n\nJeonnam,경 북\n\nGyeongbuk,경 남\n\nGyeongnam,제 주\n\nJeju,세 종\n\nSejong
0,1,2006.0,"41,824,268","17,218,934","12,622,007","18,694,596","6,441,161","7,505,662","21,556,369","73,309,874","12,993,255","15,350,674","25,003,743","14,407,656","19,500,753","34,010,487","25,380,993","2,898,939",-
1,2,2007.0,"42,972,816","17,905,735","12,925,891","19,446,553","6,803,616","7,823,147","22,739,544","78,107,276","13,567,824","16,678,098","28,051,143","15,166,073","20,341,400","36,249,730","26,788,262","3,038,325",-
2,3,2008.0,"44,096,350","18,709,380","13,265,254","19,915,366","7,044,868","8,087,633","24,132,175","81,848,570","13,895,753","17,375,035","30,427,966","15,927,799","21,868,193","37,164,797","28,074,968","3,183,210",-
3,4,2009.0,"44,984,457","18,689,437","13,133,729","20,032,122","7,169,715","8,224,741","24,682,548","83,743,497","13,992,115","17,591,645","32,115,473","16,684,299","23,589,470","37,983,313","28,393,041","3,352,343",-
4,5,2010.0,"47,295,093","20,263,682","14,479,996","21,827,577","7,860,057","8,867,405","26,515,702","93,074,875","14,848,027","19,444,836","38,809,312","18,949,073","25,059,934","41,589,052","31,549,222","3,574,624",-
5,6,2011.0,"46,902,989","20,561,979","14,821,948","22,241,136","8,047,388","9,059,776","28,198,242","96,844,503","15,876,041","20,453,358","42,650,112","21,168,359","27,136,865","44,167,300","33,071,206","3,710,080",-
6,7,2012.0,"47,234,102","20,664,842","14,954,958","22,651,946","8,130,493","9,160,107","29,362,724","100,291,952","15,904,382","21,361,911","44,492,412","21,462,325","28,484,719","44,799,525","33,014,947","3,864,639","578,610"
7,8,2013.0,"46,555,105","20,364,705","15,080,052","22,673,441","8,274,074","9,225,140","29,992,969","102,227,067","15,794,741","21,665,043","45,466,812","21,708,655","30,302,068","45,444,247","33,530,619","4,094,900","2,345,527"
8,9,2014.0,"45,018,863","19,980,898","14,858,787","22,578,048","8,197,277","9,102,524","30,115,123","102,180,707","15,778,144","22,179,262","47,294,961","22,297,413","31,722,943","46,016,364","33,435,157","4,220,090","2,437,031"
9,10,2015.0,"45,381,484","20,002,307","14,947,708","23,211,766","8,333,873","9,182,737","30,286,140","105,048,003","16,206,618","22,949,032","47,286,062","22,086,860","32,637,829","44,956,836","33,876,325","4,429,553","2,641,139"
10,11,2016.0,"46,493,234","20,467,093","15,268,114","23,875,857","8,558,369","9,379,633","32,095,217","109,403,901","16,498,768","24,008,863","48,453,931","22,733,495","33,096,902","44,647,503","34,497,477","4,738,201","2,801,869"
11,12,2017.0,"46,298,158","21,007,358","15,386,372","24,515,313","8,683,649","9,423,804","31,609,850","114,847,859","16,552,836","24,843,477","50,180,209","22,799,647","33,562,076","45,455,611","34,647,864","5,013,545","2,918,758"
12,13,2018.0,"47,810,210","21,216,605","15,675,749","24,921,926","8,773,811","9,648,827","33,748,169","122,695,954","16,845,836","26,239,895","52,012,705","22,961,959","34,118,388","45,958,814","35,158,610","5,272,604","3,087,693"
13,14,2019.0,"47,167,206","20,802,410","15,265,585","24,280,690","8,603,297","9,415,699","34,138,999","123,022,307","16,368,275","26,732,303","52,644,854","22,280,693","32,385,388","44,314,767","34,472,017","5,374,285","3,226,179"
14,15,2020.0,"45,787,926","20,503,969","14,758,568","23,638,583","8,531,108","9,405,221","33,157,834","124,688,964","16,120,067","26,901,894","50,422,732","20,538,912","30,973,975","41,001,627","34,069,974","5,373,288","3,393,223"
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.dropna(inplace = True)

In [22]:
df

,시도별\n\n 연도별,서 울\n\nSeoul,부 산\n\nBusan,대 구\n\nDaegu,인 천\n\nIncheon,광 주 \n\nGwangju,대 전 \n\nDaejeon,울 산\n\nUlsan,경 기\n\nGyeonggi,강 원\n\nGangwon,충 북\n\nChungbuk,충 남\n\nChungnam,전 북\n\nJeonbuk,전 남\n\nJeonnam,경 북\n\nGyeongbuk,경 남\n\nGyeongnam,제 주\n\nJeju,세 종\n\nSejong
1,2006.0,"41,824,268","17,218,934","12,622,007","18,694,596","6,441,161","7,505,662","21,556,369","73,309,874","12,993,255","15,350,674","25,003,743","14,407,656","19,500,753","34,010,487","25,380,993","2,898,939",-
2,2007.0,"42,972,816","17,905,735","12,925,891","19,446,553","6,803,616","7,823,147","22,739,544","78,107,276","13,567,824","16,678,098","28,051,143","15,166,073","20,341,400","36,249,730","26,788,262","3,038,325",-
3,2008.0,"44,096,350","18,709,380","13,265,254","19,915,366","7,044,868","8,087,633","24,132,175","81,848,570","13,895,753","17,375,035","30,427,966","15,927,799","21,868,193","37,164,797","28,074,968","3,183,210",-
4,2009.0,"44,984,457","18,689,437","13,133,729","20,032,122","7,169,715","8,224,741","24,682,548","83,743,497","13,992,115","17,591,645","32,115,473","16,684,299","23,589,470","37,983,313","28,393,041","3,352,343",-
5,2010.0,"47,295,093","20,263,682","14,479,996","21,827,577","7,860,057","8,867,405","26,515,702","93,074,875","14,848,027","19,444,836","38,809,312","18,949,073","25,059,934","41,589,052","31,549,222","3,574,624",-
6,2011.0,"46,902,989","20,561,979","14,821,948","22,241,136","8,047,388","9,059,776","28,198,242","96,844,503","15,876,041","20,453,358","42,650,112","21,168,359","27,136,865","44,167,300","33,071,206","3,710,080",-
7,2012.0,"47,234,102","20,664,842","14,954,958","22,651,946","8,130,493","9,160,107","29,362,724","100,291,952","15,904,382","21,361,911","44,492,412","21,462,325","28,484,719","44,799,525","33,014,947","3,864,639","578,610"
8,2013.0,"46,555,105","20,364,705","15,080,052","22,673,441","8,274,074","9,225,140","29,992,969","102,227,067","15,794,741","21,665,043","45,466,812","21,708,655","30,302,068","45,444,247","33,530,619","4,094,900","2,345,527"
9,2014.0,"45,018,863","19,980,898","14,858,787","22,578,048","8,197,277","9,102,524","30,115,123","102,180,707","15,778,144","22,179,262","47,294,961","22,297,413","31,722,943","46,016,364","33,435,157","4,220,090","2,437,031"
10,2015.0,"45,381,484","20,002,307","14,947,708","23,211,766","8,333,873","9,182,737","30,286,140","105,048,003","16,206,618","22,949,032","47,286,062","22,086,860","32,637,829","44,956,836","33,876,325","4,429,553","2,641,139"
11,2016.0,"46,493,234","20,467,093","15,268,114","23,875,857","8,558,369","9,379,633","32,095,217","109,403,901","16,498,768","24,008,863","48,453,931","22,733,495","33,096,902","44,647,503","34,497,477","4,738,201","2,801,869"
12,2017.0,"46,298,158","21,007,358","15,386,372","24,515,313","8,683,649","9,423,804","31,609,850","114,847,859","16,552,836","24,843,477","50,180,209","22,799,647","33,562,076","45,455,611","34,647,864","5,013,545","2,918,758"
13,2018.0,"47,810,210","21,216,605","15,675,749","24,921,926","8,773,811","9,648,827","33,748,169","122,695,954","16,845,836","26,239,895","52,012,705","22,961,959","34,118,388","45,958,814","35,158,610","5,272,604","3,087,693"
14,2019.0,"47,167,206","20,802,410","15,265,585","24,280,690","8,603,297","9,415,699","34,138,999","123,022,307","16,368,275","26,732,303","52,644,854","22,280,693","32,385,388","44,314,767","34,472,017","5,374,285","3,226,179"
15,2020.0,"45,787,926","20,503,969","14,758,568","23,638,583","8,531,108","9,405,221","33,157,834","124,688,964","16,120,067","26,901,894","50,422,732","20,538,912","30,973,975","41,001,627","34,069,974","5,373,288","3,393,223"

In [23]:
df= df.replace(' - ','0')

In [24]:
df

,시도별\n\n 연도별,서 울\n\nSeoul,부 산\n\nBusan,대 구\n\nDaegu,인 천\n\nIncheon,광 주 \n\nGwangju,대 전 \n\nDaejeon,울 산\n\nUlsan,경 기\n\nGyeonggi,강 원\n\nGangwon,충 북\n\nChungbuk,충 남\n\nChungnam,전 북\n\nJeonbuk,전 남\n\nJeonnam,경 북\n\nGyeongbuk,경 남\n\nGyeongnam,제 주\n\nJeju,세 종\n\nSejong
1,2006.0,"41,824,268","17,218,934","12,622,007","18,694,596","6,441,161","7,505,662","21,556,369","73,309,874","12,993,255","15,350,674","25,003,743","14,407,656","19,500,753","34,010,487","25,380,993","2,898,939",0
2,2007.0,"42,972,816","17,905,735","12,925,891","19,446,553","6,803,616","7,823,147","22,739,544","78,107,276","13,567,824","16,678,098","28,051,143","15,166,073","20,341,400","36,249,730","26,788,262","3,038,325",0
3,2008.0,"44,096,350","18,709,380","13,265,254","19,915,366","7,044,868","8,087,633","24,132,175","81,848,570","13,895,753","17,375,035","30,427,966","15,927,799","21,868,193","37,164,797","28,074,968","3,183,210",0
4,2009.0,"44,984,457","18,689,437","13,133,729","20,032,122","7,169,715","8,224,741","24,682,548","83,743,497","13,992,115","17,591,645","32,115,473","16,684,299","23,589,470","37,983,313","28,393,041","3,352,343",0
5,2010.0,"47,295,093","20,263,682","14,479,996","21,827,577","7,860,057","8,867,405","26,515,702","93,074,875","14,848,027","19,444,836","38,809,312","18,949,073","25,059,934","41,589,052","31,549,222","3,574,624",0
6,2011.0,"46,902,989","20,561,979","14,821,948","22,241,136","8,047,388","9,059,776","28,198,242","96,844,503","15,876,041","20,453,358","42,650,112","21,168,359","27,136,865","44,167,300","33,071,206","3,710,080",0
7,2012.0,"47,234,102","20,664,842","14,954,958","22,651,946","8,130,493","9,160,107","29,362,724","100,291,952","15,904,382","21,361,911","44,492,412","21,462,325","28,484,719","44,799,525","33,014,947","3,864,639","578,610"
8,2013.0,"46,555,105","20,364,705","15,080,052","22,673,441","8,274,074","9,225,140","29,992,969","102,227,067","15,794,741","21,665,043","45,466,812","21,708,655","30,302,068","45,444,247","33,530,619","4,094,900","2,345,527"
9,2014.0,"45,018,863","19,980,898","14,858,787","22,578,048","8,197,277","9,102,524","30,115,123","102,180,707","15,778,144","22,179,262","47,294,961","22,297,413","31,722,943","46,016,364","33,435,157","4,220,090","2,437,031"
10,2015.0,"45,381,484","20,002,307","14,947,708","23,211,766","8,333,873","9,182,737","30,286,140","105,048,003","16,206,618","22,949,032","47,286,062","22,086,860","32,637,829","44,956,836","33,876,325","4,429,553","2,641,139"
11,2016.0,"46,493,234","20,467,093","15,268,114","23,875,857","8,558,369","9,379,633","32,095,217","109,403,901","16,498,768","24,008,863","48,453,931","22,733,495","33,096,902","44,647,503","34,497,477","4,738,201","2,801,869"
12,2017.0,"46,298,158","21,007,358","15,386,372","24,515,313","8,683,649","9,423,804","31,609,850","114,847,859","16,552,836","24,843,477","50,180,209","22,799,647","33,562,076","45,455,611","34,647,864","5,013,545","2,918,758"
13,2018.0,"47,810,210","21,216,605","15,675,749","24,921,926","8,773,811","9,648,827","33,748,169","122,695,954","16,845,836","26,239,895","52,012,705","22,961,959","34,118,388","45,958,814","35,158,610","5,272,604","3,087,693"
14,2019.0,"47,167,206","20,802,410","15,265,585","24,280,690","8,603,297","9,415,699","34,138,999","123,022,307","16,368,275","26,732,303","52,644,854","22,280,693","32,385,388","44,314,767","34,472,017","5,374,285","3,226,179"
15,2020.0,"45,787,926","20,503,969","14,758,568","23,638,583","8,531,108","9,405,221","33,157,834","124,688,964","16,120,067","26,901,894","50,422,732","20,538,912","30,973,975","41,001,627","34,069,974","5,373,288","3,393,223"

In [25]:
def to_int(data):
    data = data.replace(",","")
    data = int(data)
    return data

In [26]:
df

,시도별\n\n 연도별,서 울\n\nSeoul,부 산\n\nBusan,대 구\n\nDaegu,인 천\n\nIncheon,광 주 \n\nGwangju,대 전 \n\nDaejeon,울 산\n\nUlsan,경 기\n\nGyeonggi,강 원\n\nGangwon,충 북\n\nChungbuk,충 남\n\nChungnam,전 북\n\nJeonbuk,전 남\n\nJeonnam,경 북\n\nGyeongbuk,경 남\n\nGyeongnam,제 주\n\nJeju,세 종\n\nSejong
1,2006.0,"41,824,268","17,218,934","12,622,007","18,694,596","6,441,161","7,505,662","21,556,369","73,309,874","12,993,255","15,350,674","25,003,743","14,407,656","19,500,753","34,010,487","25,380,993","2,898,939",0
2,2007.0,"42,972,816","17,905,735","12,925,891","19,446,553","6,803,616","7,823,147","22,739,544","78,107,276","13,567,824","16,678,098","28,051,143","15,166,073","20,341,400","36,249,730","26,788,262","3,038,325",0
3,2008.0,"44,096,350","18,709,380","13,265,254","19,915,366","7,044,868","8,087,633","24,132,175","81,848,570","13,895,753","17,375,035","30,427,966","15,927,799","21,868,193","37,164,797","28,074,968","3,183,210",0
4,2009.0,"44,984,457","18,689,437","13,133,729","20,032,122","7,169,715","8,224,741","24,682,548","83,743,497","13,992,115","17,591,645","32,115,473","16,684,299","23,589,470","37,983,313","28,393,041","3,352,343",0
5,2010.0,"47,295,093","20,263,682","14,479,996","21,827,577","7,860,057","8,867,405","26,515,702","93,074,875","14,848,027","19,444,836","38,809,312","18,949,073","25,059,934","41,589,052","31,549,222","3,574,624",0
6,2011.0,"46,902,989","20,561,979","14,821,948","22,241,136","8,047,388","9,059,776","28,198,242","96,844,503","15,876,041","20,453,358","42,650,112","21,168,359","27,136,865","44,167,300","33,071,206","3,710,080",0
7,2012.0,"47,234,102","20,664,842","14,954,958","22,651,946","8,130,493","9,160,107","29,362,724","100,291,952","15,904,382","21,361,911","44,492,412","21,462,325","28,484,719","44,799,525","33,014,947","3,864,639","578,610"
8,2013.0,"46,555,105","20,364,705","15,080,052","22,673,441","8,274,074","9,225,140","29,992,969","102,227,067","15,794,741","21,665,043","45,466,812","21,708,655","30,302,068","45,444,247","33,530,619","4,094,900","2,345,527"
9,2014.0,"45,018,863","19,980,898","14,858,787","22,578,048","8,197,277","9,102,524","30,115,123","102,180,707","15,778,144","22,179,262","47,294,961","22,297,413","31,722,943","46,016,364","33,435,157","4,220,090","2,437,031"
10,2015.0,"45,381,484","20,002,307","14,947,708","23,211,766","8,333,873","9,182,737","30,286,140","105,048,003","16,206,618","22,949,032","47,286,062","22,086,860","32,637,829","44,956,836","33,876,325","4,429,553","2,641,139"
11,2016.0,"46,493,234","20,467,093","15,268,114","23,875,857","8,558,369","9,379,633","32,095,217","109,403,901","16,498,768","24,008,863","48,453,931","22,733,495","33,096,902","44,647,503","34,497,477","4,738,201","2,801,869"
12,2017.0,"46,298,158","21,007,358","15,386,372","24,515,313","8,683,649","9,423,804","31,609,850","114,847,859","16,552,836","24,843,477","50,180,209","22,799,647","33,562,076","45,455,611","34,647,864","5,013,545","2,918,758"
13,2018.0,"47,810,210","21,216,605","15,675,749","24,921,926","8,773,811","9,648,827","33,748,169","122,695,954","16,845,836","26,239,895","52,012,705","22,961,959","34,118,388","45,958,814","35,158,610","5,272,604","3,087,693"
14,2019.0,"47,167,206","20,802,410","15,265,585","24,280,690","8,603,297","9,415,699","34,138,999","123,022,307","16,368,275","26,732,303","52,644,854","22,280,693","32,385,388","44,314,767","34,472,017","5,374,285","3,226,179"
15,2020.0,"45,787,926","20,503,969","14,758,568","23,638,583","8,531,108","9,405,221","33,157,834","124,688,964","16,120,067","26,901,894","50,422,732","20,538,912","30,973,975","41,001,627","34,069,974","5,373,288","3,393,223"

In [27]:
columns = ["a","서울","부산", "대구" ,"인천", "광주", "대전","울산","경기" ,"강원", "충북","충남", "전북","전남","경북","경남","제주", "세종"]
df.columns = columns
df['서울']

1      41,824,268
2      42,972,816
3      44,096,350
4      44,984,457
5      47,295,093
6      46,902,989
7      47,234,102
8      46,555,105
9      45,018,863
10     45,381,484
11     46,493,234
12     46,298,158
13     47,810,210
14     47,167,206
15     45,787,926
Name: 서울, dtype: object

In [28]:
for x in columns[1:]:
    y = "df['%s'] = df.%s.apply(to_int)" %(x, x)
    exec(y)

In [29]:
df

,a,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
1,2006.0,41824268,17218934,12622007,18694596,6441161,7505662,21556369,73309874,12993255,15350674,25003743,14407656,19500753,34010487,25380993,2898939,0
2,2007.0,42972816,17905735,12925891,19446553,6803616,7823147,22739544,78107276,13567824,16678098,28051143,15166073,20341400,36249730,26788262,3038325,0
3,2008.0,44096350,18709380,13265254,19915366,7044868,8087633,24132175,81848570,13895753,17375035,30427966,15927799,21868193,37164797,28074968,3183210,0
4,2009.0,44984457,18689437,13133729,20032122,7169715,8224741,24682548,83743497,13992115,17591645,32115473,16684299,23589470,37983313,28393041,3352343,0
5,2010.0,47295093,20263682,14479996,21827577,7860057,8867405,26515702,93074875,14848027,19444836,38809312,18949073,25059934,41589052,31549222,3574624,0
6,2011.0,46902989,20561979,14821948,22241136,8047388,9059776,28198242,96844503,15876041,20453358,42650112,21168359,27136865,44167300,33071206,3710080,0
7,2012.0,47234102,20664842,14954958,22651946,8130493,9160107,29362724,100291952,15904382,21361911,44492412,21462325,28484719,44799525,33014947,3864639,578610
8,2013.0,46555105,20364705,15080052,22673441,8274074,9225140,29992969,102227067,15794741,21665043,45466812,21708655,30302068,45444247,33530619,4094900,2345527
9,2014.0,45018863,19980898,14858787,22578048,8197277,9102524,30115123,102180707,15778144,22179262,47294961,22297413,31722943,46016364,33435157,4220090,2437031
10,2015.0,45381484,20002307,14947708,23211766,8333873,9182737,30286140,105048003,16206618,22949032,47286062,22086860,32637829,44956836,33876325,4429553,2641139
11,2016.0,46493234,20467093,15268114,23875857,8558369,9379633,32095217,109403901,16498768,24008863,48453931,22733495,33096902,44647503,34497477,4738201,2801869
12,2017.0,46298158,21007358,15386372,24515313,8683649,9423804,31609850,114847859,16552836,24843477,50180209,22799647,33562076,45455611,34647864,5013545,2918758
13,2018.0,47810210,21216605,15675749,24921926,8773811,9648827,33748169,122695954,16845836,26239895,52012705,22961959,34118388,45958814,35158610,5272604,3087693
14,2019.0,47167206,20802410,15265585,24280690,8603297,9415699,34138999,123022307,16368275,26732303,52644854,22280693,32385388,44314767,34472017,5374285,3226179
15,2020.0,45787926,20503969,14758568,23638583,8531108,9405221,33157834,124688964,16120067,26901894,50422732,20538912,30973975,41001627,34069974,5373288,3393223